@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Company Management Site</h1>   
</div>
<div class="row justify-content-center welcome-screen">
    <div class="col-sm-5">
        <p>Welcome to the company management website.</p>
        <p>This website project uses the exposed, internal (protected)<br />endpoints of the Sensitivewords API.</p>
        <p>Protected by an API KEY authentication scheme.</p>
        <p>This management section is to demonstrate the CRUD endpoint<br />functionality and allows the user to:</p>
        <ul>
            <li><b>Add</b> a new sensitiveword</li>
            <li><b>Edit</b> a sensitiveword</li>
            <li><b>Delete</b> a sensitiveword</li>
            <li>
                <span>And... <b>Import</b> a .txt file containing a list of sensitivewords.</span><br />
                <span style="font-size: 0.85rem;">(One word per line in the .txt file)</span><br />
                <span style="font-size: 0.85rem;">-<i>all non-alphabetic characters are removed from each line</i></span>
            </li>
            <li>There is exposure to the ability to get a single sensitiveword,<br /> but this is not used in this demo</li>
        </ul>
        <br />
        <p><b>I hope you enjoy this demo.</b></p>
    </div>
</div>
