@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Client Messaging Site</h1>   
</div>
<div class="row justify-content-center welcome-screen">
    <div class="col-sm-5">
        <p>Welcome to the client website.</p>
        <p>This website project uses the exposed, external<br />endpoint of the Sensitivewords API.</p>
        <p>A string message is posted to the API and a response is returned</p>
        <br />
        <p><b>I hope you enjoy this demo.</b></p>
    </div>
</div>
