<section class="msg-wrapper-row">
    <div class="row mt-3">
        <div class="col-sm-4 pl-3 pt-0 pr-3 pb-0 msg-wrapper-col ">
            <div class="row msg-history">
                <div class="col-sm-12">
                </div>
            </div>                
            <div class="row p-2 new-msg position-relative">
                <div class="col-sm-12">
                    <div class="row messenger">
                        <div class="col-sm-9 p-0 m-0">
                            <textarea id="taMsg" class="msg" placeholder="Type messege here..."></textarea>                            
                        </div>
                        <div class="col-sm-3 p-0 m-0">
                            <button type="button" class="btn msg">Send <span>&rArr;</span></button>
                        </div>
                    </div>
                </div>
                <div class="shadowtest">&nbsp;</div>
            </div>
        </div>
    </div>    
</section>
<span id="measureString" class="collapse"></span>
<section id="msg-template" class="collapse">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-end">
            <section class="row messenger pr-3 pl-3">
                <div class="col-sm-12 msg pl-3 pr-3 pt-2 pb-2 flex-wrap position-relative">
                    <div class="message-text"></div>
                    <div class="message-timestamp"></div>
                    <div class="message-title"></div>
                </div>
            </section>  
        </div>
    </div>
</section>